@model List<Product>

@{
    ViewBag.Title = "All Products";
    Layout = "_Layout";
}

<h2>Products</h2>

@if (Model.Any())
{
    <div class="container">
        <div class="row">

            @foreach (var product in Model)
            {
            <div class="col-md-3 mb-2">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Category: @product.Category.Name</h6>
                        <p class="card-text">
                            Price: <strong>@product.Price.ToString("C")</strong><br>
                            Quantity: <strong>@product.Quantity</strong><br>
                        </p>
                        <a asp-action="View" asp-route-id="@product.ProductId" class="btn btn-primary">View</a>
                        @if (product.Quantity == 0)
                        { 
                            <a href="#" class="btn btn-success disabled">Add to Order</a>
                        }
                        else
                        { 
                            <a href="#" class="btn btn-success">Add to Order</a>
                        }
                    </div>
                </div>
            </div>
            }

        </div>
    </div>

}
else
{
    <p>There are currently no products to display. <a asp-action="Add">Add a Product</a></p>
}