@model List<Product>

@{
    ViewBag.Title = "All Products";
    Layout = "_Layout";
}

<h2>Products</h2>

@if (TempData["success"] != null)
{
<div class="alert alert-success" role="alert">
    @TempData["success"]
</div>
}

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Low Stock Threshold</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Category.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.Quantity</td>
                <td>@product.LowStockThreshold</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>There are currently no products to display. <a asp-action="Add">Add a Product</a></p>
}