@model List<Product>

@{
    ViewBag.Title = "Low Stock Products";
    Layout = "_Layout";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["success"]
    </div>
}

<h2>Low Stock Products</h2>
@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Low Stock Threshold</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Category.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.Quantity</td>
                <td>@product.LowStockThreshold</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>There are currently no products to display. <a asp-action="Add">Add a Product</a></p>
}